# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Dummy files
seed_data.py
test_booking.py
test_payment.py
test_admin.py
test_complete_flow.py
test_jwt_auth.py